<!DOCTYPE html>
<html lang="{{ locale }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">

    <title>{% trans "Community Bulletin Board" %}</title>

    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ctext y='32' font-size='32'%3E📌%3C/text%3E%3C/svg%3E">

    <link rel="stylesheet" href="static/themes/{{ theme }}.css">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>

{% if theme == "cork" %}
<img id="pushPin" src="static/images/push-pin.svg" alt="Push Pin">
{% elseif theme == "light" or theme == "dark" %}
<span id="pushPin" style="color:red;font-size: 1.25rem">•</span>
{% endif %}

<div class="appWrapper" style="background-color: #dea66a">
    {% block body %}{% endblock %}
</div>

<script src="static/main.js"></script>
</body>

</html>
