{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        {% embed 'settings/description.twig' %}{% endembed %}
        {% embed 'settings/theme.twig' %}{% endembed %}
        {% embed 'settings/deleteAccount.twig' %}{% endembed %}
    </div>
{% endblock %}