<div class="actionPost {{ otherClasses }}">
    <div class="pinWrapper">
        <svg class="pin-blue"></svg>
    </div>
    <div class="text">
        {% block action %}{% endblock %}
    </div>
    <div class="subtext">
        {% block subtext %}{% endblock %}
    </div>
</div>
